@media screen and (max-width: 600px) {
  /* Mobile View */
  .results {
    margin-left: 21px;
  }

  a {
    text-decoration: none;
  }

  .result-iterator {
    margin-top: 4px;
    color: #355878;
  }
}
