@media screen and (max-width: 600px) {
  /* Mobile View */
  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 900px) {
  /* Desktop View */
}
