@media screen and (max-width: 600px) {
  /* Mobile View */
  .edit-modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1040;
    display: none;
  }

  .edit-modal-cover.edit-modal-cover-active {
    display: block;
  }

  .edit-modal-container {
    z-index: 1050;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 6px;
    background: white;
    width: 340px;
    min-height: 300px;
    /* development */
    left: 85%;
    /* production */
    /* left: 82%; */
    top: 15%;
    margin-left: -300px;
    display: none;
  }

  .edit-modal-container.edit-modal-container-active {
    display: block;
  }

  .mentor-edit-input {
    width: 94%;
    padding: 12px 10px;
    margin: 2px 7px 2px 11px;
    display: inline-block;
    border: 1px solid #355878;
    border-radius: 4px;
    box-sizing: border-box;
    color: #355878;
    font-size: 14px;
  }

  .mentor-edit-textarea {
    width: 94%;
    padding: 12px 10px;
    margin: 2px 7px 2px 11px;
    display: inline-block;
    border: 1px solid #355878;
    border-radius: 4px;
    box-sizing: border-box;
    color: #355878;
    font-size: 14px;
    height: 150px;
  }

  .edit-button {
    background-color: #355878;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px 0 3px 0;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 2px;
    font-weight: 600;
    width: 90px;
  }

  .edit-validation-warning {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: left;
    color: rgb(172, 11, 11);
    font-weight: 600;
  }
}
