@media screen and (max-width: 600px) {
  /* Mobile View */

  .profile {
    background-color: #78d1e7;
    height: 90px;
    text-align: center;
    color: #355878;
  }

  .mentor-photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 30px;
  }

  .mentor-name {
    font-size: 25px;
    font-weight: 700;
  }

  .location-marker {
    font-size: 20px;
    margin-top: 4px;
  }

  .mentor-location {
    justify-items: center;
  }
}
