
@media screen and (max-width: 600px) {
  /* Mobile View */
  .card {
    max-width: 80%;
    min-width: 80%;
    height: 400px;
    background-color: #355878;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 30px;
  }
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  border: 5px solid #355878;
  margin: 20px;
  object-fit: cover;
}

.card-fullName {
 font-weight: 500;
 font-size: x-large;
 padding-bottom: 10px;
}

.card .card-button {
  margin-top: 110px;
	background-color: rgb(255, 255, 255);
	padding: 5px 70px;
	border-radius: 20px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid darken(rgb(234, 233, 236), 10%);
  transition: background-color 0.5s;
  font-size: 16px;
}

.card-button :hover {
  background-color: #3F3552;
}
