@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  /* Mobile View */
  .desktop-view {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  /* Desktop View */
  .app {
    display: none;
  }

  body {
    background-color: #355878;
  }

  .desktop-view {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }
}
